src/com/library/soap/library.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.lucas.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.lucas.com/" name="LibraryServicesService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.lucas.com/" schemaLocation="http://localhost:8080/soap_war/library?xsd=1"/>
</xsd:schema>
</types>
<message name="listAllBooks">
<part name="parameters" element="tns:listAllBooks"/>
</message>
<message name="listAllBooksResponse">
<part name="parameters" element="tns:listAllBooksResponse"/>
</message>
<message name="getBookInfo">
<part name="parameters" element="tns:getBookInfo"/>
</message>
<message name="getBookInfoResponse">
<part name="parameters" element="tns:getBookInfoResponse"/>
</message>
<message name="addBook">
<part name="parameters" element="tns:addBook"/>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"/>
</message>
<message name="getBookInfoByISBN">
<part name="parameters" element="tns:getBookInfoByISBN"/>
</message>
<message name="getBookInfoByISBNResponse">
<part name="parameters" element="tns:getBookInfoByISBNResponse"/>
</message>
<message name="updateBookInfo">
<part name="parameters" element="tns:updateBookInfo"/>
</message>
<message name="updateBookInfoResponse">
<part name="parameters" element="tns:updateBookInfoResponse"/>
</message>
<message name="deleteBook">
<part name="parameters" element="tns:deleteBook"/>
</message>
<message name="deleteBookResponse">
<part name="parameters" element="tns:deleteBookResponse"/>
</message>
<portType name="LibraryServices">
<operation name="listAllBooks">
<input wsam:Action="http://soap.lucas.com/LibraryServices/listAllBooksRequest" message="tns:listAllBooks"/>
<output wsam:Action="http://soap.lucas.com/LibraryServices/listAllBooksResponse" message="tns:listAllBooksResponse"/>
</operation>
<operation name="getBookInfo">
<input wsam:Action="http://soap.lucas.com/LibraryServices/getBookInfoRequest" message="tns:getBookInfo"/>
<output wsam:Action="http://soap.lucas.com/LibraryServices/getBookInfoResponse" message="tns:getBookInfoResponse"/>
</operation>
<operation name="addBook">
<input wsam:Action="http://soap.lucas.com/LibraryServices/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://soap.lucas.com/LibraryServices/addBookResponse" message="tns:addBookResponse"/>
</operation>
<operation name="getBookInfoByISBN">
<input wsam:Action="http://soap.lucas.com/LibraryServices/getBookInfoByISBNRequest" message="tns:getBookInfoByISBN"/>
<output wsam:Action="http://soap.lucas.com/LibraryServices/getBookInfoByISBNResponse" message="tns:getBookInfoByISBNResponse"/>
</operation>
<operation name="updateBookInfo">
<input wsam:Action="http://soap.lucas.com/LibraryServices/updateBookInfoRequest" message="tns:updateBookInfo"/>
<output wsam:Action="http://soap.lucas.com/LibraryServices/updateBookInfoResponse" message="tns:updateBookInfoResponse"/>
</operation>
<operation name="deleteBook">
<input wsam:Action="http://soap.lucas.com/LibraryServices/deleteBookRequest" message="tns:deleteBook"/>
<output wsam:Action="http://soap.lucas.com/LibraryServices/deleteBookResponse" message="tns:deleteBookResponse"/>
</operation>
</portType>
<binding name="LibraryServicesPortBinding" type="tns:LibraryServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listAllBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookInfoByISBN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBookInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LibraryServicesService">
<port name="LibraryServicesPort" binding="tns:LibraryServicesPortBinding">
<soap:address location="http://localhost:8080/soap_war/library"/>
</port>
</service>
</definitions>